table{
    background-color: rgb(210, 212, 212);
    width: 70%;
    height: 700px;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
}
h1{
    text-align: start;
    background-color: green;
    color: white;
    width: 70%;
    margin: 0 auto;

}
tr td{
    padding: 20px;

}
